REMOTE_MQTT_HOST=mqtt.benchlab.io
REMOTE_MQTT_PORT=443
REMOTE_MQTT_PATH=/mqtt
REMOTE_MQTT_TRANSPORT=websockets
REMOTE_MQTT_PROTOCOL=mqtt.MQTTv5
REMOTE_MQTT_QOS=1
REMOTE_MQTT_USER=mqtt_user
REMOTE_MQTT_PASS=mqtt_pass
CLIENT_UUID=client_uuid
MQTT_POLL_RATE=2
